name: FabricExample Android check
on:
  pull_request:
    paths:
      - .github/workflows/android-build-test.yml
      - 'android/**'
      - 'src/fabric/**'
      - 'package.json'
      - 'apps/fabric-example/android/**'
      - 'apps/fabric-example/package.json'
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/android-build.yml
    with:
      working-directories: '["fabric-example"]'
