name: Example Android check
on:
  pull_request:
    paths:
      - .github/workflows/android-build-test.yml
      - 'android/**'
      - 'src/fabric/**'
      - 'package.json'
      - 'apps/paper-example/android/**'
      - 'apps/paper-example/package.json'
      - 'apps/fabric-example/android/**'
      - 'apps/fabric-example/package.json'
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-fabric:
    uses: ./.github/workflows/android-reusable.yml
    with:
      working-directories: '["fabric-example", "paper-example"]'
