name: Test macOS build
on:
  pull_request:
    paths:
      - .github/workflows/macos-build-test.yml
      - RNSVG.podspec
      - apple/**
      - Example/package.json
      - Example/macos/**
      - src/fabric/**
      - package.json
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-12
    strategy:
      matrix:
        working-directory: [Example]
      fail-fast: false
    concurrency:
      group: macos-${{ matrix.working-directory }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Restore react-native-svg node_modules from cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-svg-${{ hashFiles('yarn.lock') }}
          restore-keys: ${{ runner.os }}-node-modules-svg-

      - name: Install react-native-svg node_modules
        run: yarn install --frozen-lockfile

      - name: Restore app node_modules from cache
        uses: actions/cache@v3
        with:
          path: ${{ matrix.working-directory }}/node_modules
          key: ${{ runner.os }}-node-modules-${{ matrix.working-directory }}-${{ hashFiles(format('{0}/yarn.lock', matrix.working-directory)) }}
          restore-keys: ${{ runner.os }}-node-modules-${{ matrix.working-directory }}-

      - name: Install app node_modules
        working-directory: ${{ matrix.working-directory }}
        run: yarn install --frozen-lockfile

      - name: Restore Pods from cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ matrix.working-directory }}/macos/Pods
            ~/Library/Caches/CocoaPods
            ~/.cocoapods
          key: ${{ runner.os }}-pods-${{ matrix.working-directory }}-${{ hashFiles(format('{0}/macos/Podfile.lock', matrix.working-directory)) }}

      - name: Install Pods
        working-directory: ${{ matrix.working-directory }}/macos
        run: pod install

      - name: Restore build artifacts from cache
        uses: actions/cache@v3
        with:
          path: ~/Library/Developer/Xcode/DerivedData
          key: ${{ runner.os }}-macos-derived-data-${{ matrix.working-directory }}-${{ hashFiles(format('{0}/macos/Podfile.lock', matrix.working-directory)) }}

      - name: Build app
        working-directory: ${{ matrix.working-directory }}
        run: npx react-native@latest run-macos --verbose --terminal /bin/zsh
