name: Test new architecture macOS build
on:
  pull_request:
    paths:
      - '.github/workflows/macos-fabric-test.yml'
      - 'RNSVG.podspec'
      - 'apple/**'
      - 'macos-example/package.json'
      - 'macos-example/macos/**'
      - 'src/fabric/**'
      - 'package.json'
  push:
    branches:
      - main

jobs:
  test-build:
    if: github.repository == 'software-mansion/react-native-svg'
    uses: ./.github/workflows/reusable-macos-build.yml
    with:
      new_arch_enabled: '1'
