name: Lint
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  install-and-lint:
    runs-on: ubuntu-latest
    concurrency:
      group: install-and-lint-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'
      - name: Install node dependencies
        run: yarn
      - name: Test and lint
        run: |
          yarn test
